html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: #fefcf7;
  font-family: sans-serif;
  font-family: 'Barlow', sans-serif;
}



img {
  max-width: 100%;
  height: auto;
}
.container{
  max-width: 90%;
  padding: 0 20px;
}
.container-small{
  margin: 0 auto;
  max-width: 90%;
}
.hero {
  padding-bottom: 200px;
}
.hero__header {
  padding: 43px 0;
}
.hero__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hero__item {
  margin-left: 33px;
  position: relative;
}
.hero__item::before{
  content: "";
  bottom: -5px;
  position:absolute;
  display: inline-block;
  background: rgb(240, 221, 53);
  width: 0;
  height: 2px;
  left: 50%;
  transform: translate(-50%,0);
  transition: width 0.4s ease;
}
.hero__item:hover::before{
  width: 100%;
}
.hero__item:active .hero__link{
  color: #333d4b;
}
.hero__item:nth-child(1){
  margin-left: 0;
}
.hero__menu-btn{
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}
.hero__menu-btn i{
  color:#333d4b;
  font-size: 30px;
}
.hero__link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  transition: color 0.4s ease;
}
.hero__contents {
  max-width: 100%;
  height: 600px;
  padding: 117px 0;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: 1947px 1298px;
  background-position:left bottom -147px;
  border-radius: 10px;
}
.hero__contents-title {
  width: 493px;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  font-family: 'Fraunces', serif;
  margin-bottom: 32px;
}
.hero__contents-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 445px;
  margin: 0;
  margin-bottom:56px;
}
.hero__contents-link {
  display: inline-block;
  text-decoration: none;
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  background: #0e8784;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 13px 28px;
  transition: background 0.4s ease, opacity 0.4s ease;
}
.hero__contents-link:hover{
  background: #66d2cf;
}
.hero__contents-link:active{
  opacity: 0.7;
}
@media screen and (max-width:768px){
  .container{
    max-width: 90%;
  }
  .container-small{
    max-width: 90%;
  }
  .hero__contents-title{
    width: 329px;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .hero__contents-desc{
    width: 398px;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 40px;
  }
  .hero__contents{
    max-width: 100%;
    height: 500px;
    background-size: 1284px 854px;
    background-position:left bottom;
  }
}
@media screen and (max-width:700px){
  .hero__nav-bar{
    display: none;
  }
  .hero__menu-btn{
    display: block;
  }
}
@media screen and (max-width:576px) {
  .hero__logo-link img{
    width: 136px;
  }
  .container{
    max-width: 90%;
  }
  .hero__contents{
    max-width: 100%;
    height: 500px;
    background-size: 1284px 854px;
    background-position:left -361px bottom;
    background-image:url("../img/hero-bg.png");
    position: relative;
  }
  .hero__contents-title{
    position: relative;
    font-size: 40px;
    width: 279px;
    text-align: center;
    margin:0 auto;
    line-height: 40px;
    margin-bottom: 24px;
    z-index: 2;
  }
  .hero__contents-desc{
    width: 279px;
    position: relative;
    z-index: 2;
    font-size: 15px;
    line-height: 25px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 39px;
  }
  .hero__contents-link{
    position: relative;
    z-index: 1;
    width: 217px;
    display: block;
    margin: 0 auto;
  }

  .hero__contents::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: rgba(0, 0, 0, 0.600551);
  }
}

.our-collection {
  padding-top: 262px;
}
.our-collection__list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.our-collection__item::before{
  content: "";
  position:absolute;
  top: 0;
  width: 255px;
  height: 193px;
  display: block;
  background-image: url("../img/collection-img.png");
  background-repeat: no-repeat;
}
.our-collection__bg-text{
  font-family: 'Fraunces', serif;
  position: absolute;
  left: 0;
  top: -60px;
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 160px;
  line-height: 72px;
  text-align: center;
  color: #83888f;
  width: 100%;
  height: 196px;
  opacity: 0.5;
}
.our-collection__bg-text::before{
  position:absolute;
  content: "";
  width: 100%;
  height: 100px;
  display: block;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #fefcf7 100%);
}
.our-collection__item {
  padding-top: 260px;
  position: relative;
}
.our-ollection__item-title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333d4b;
  font-family: 'Fraunces', serif;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}
.our-ollection__item-desc {
  width: 255px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333d4b;
  margin: 0;
}
@media screen and (max-width:1457px){
  .our-collection__bg-text{
    font-size: 95px;
  }
}
@media screen and (max-width:885px){
  .our-collection__bg-text{
    font-size: 80px;
  }
}
@media screen and (max-width:768px){
  .our-collection__bg-text{
    font-size: 80px;
    top: -25px;
  }
  .our-collection{
    padding-top: 144px;
  }
  .our-collection__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin-bottom: 32px;
  }
  .our-collection__item:nth-child(4){
    margin-bottom: 0;
  }
  .our-collection__item::before{
    position:static;
  }
  .our-ollection__item-desc{
    width:282px;
    text-align: left;
  }
  .our-ollection__item-title{
    text-align: left;
  }
}
@media screen and (max-width:750px){
  .our-collection__bg-text{
    font-size: 55px;
  }
}
@media screen and (max-width:650px) {
  .our-collection__item::before{
    background-size: 210px;
  }
  .our-ollection__item-desc{
    font-size: 13px;
    line-height: 17px;
  }
  .our-ollection__item-title{
    font-size: 23px;
  }
}
@media screen and (max-width:600px) {
  .our-collection__item::before{
    background-size: 200px;
  }
  .our-ollection__item-desc{
    font-size: 11px;
    line-height: 15px;
  }
  .our-ollection__item-title{
    font-size: 20px;
  }
}
@media screen and (max-width:576px) {
  .our-collection__item{
    flex-direction: column;
    margin-bottom: 50px;
  }
  .our-ollection__item-desc{
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  .our-ollection__item-title{
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .our-collection__item::before{
    background-size: 200px 151px;
    background-position:30px;
  }
  .our-collection__item:nth-child(4){
    margin-bottom:0;
  }
  .our-collection__bg-text{
    top: -50px;
    font-size: 40px;
  }
}
@media screen and (max-width:400px) {
  .our-collection__bg-text{
    font-size: 35px;
  }
} 

@media screen and (max-width:360px) {
  .our-collection__bg-text{
    font-size: 25px;
  }
} 

.services {
  padding: 200px 0 150px 0;
}
.services__contents{
  background: #293039;
  height: 577px;
  border-radius: 10px;
  padding-top: 100px;
}
.services__main-box{
  height: 728px;
}
.services__title {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}
.services__desc {
  width: 528px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 0;
  margin:0 auto;
  margin-bottom: 86px;
}
.services__contents__box{
  position: relative;
}
.services__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  bottom:-450px;
}
.services__item {
  width: 30%;
  background: #0e8784;
  border-radius: 8px;
  padding-top: 72px;
  padding-bottom: 48px;
}
.services__item::before{
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.services__item:nth-child(1)::before{
  background-image: url("../img/best-quality.svg");
}
.services__item:nth-child(2)::before{
  background-image: url("../img/exclusive-benefits.svg");
}
.services__item:nth-child(3)::before{
  background-image: url("../img/free-shopping.svg");
}
.services__item-title {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
  font-family: 'Fraunces', serif;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  padding-top: 56px;
}
.services__item-desc {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  width: 255px;
  margin: 0 auto;
}

@media screen and (max-width:1130px){
  .services__item-desc{
    width: 210px;
  }
  .services__item-title{
    font-size: 20px;
  }
}
@media screen and (max-width:886px){
  .services__item-desc{
    width: 117px;
    font-size: 10px;
    line-height: 20px;
  }
  .services__item-title{
    font-size: 16px;
  }
}
@media screen and (max-width:768px) {
  .services__main-box{
    height: 905px;
  }
  .services__item{
    width: 100%;
    height: 180px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 48px 41px 0;
    margin-bottom: 24px;
  }
  .services__contents{
    height: 640px;
  }
  .services__item::before{
    width: 56px;
    height: 56px;
    background-size: 100% 100%;
  }
  .services__item-title{
    text-align: left;
    padding: 0;
    font-size: 24px;
  }
  .services__item-desc{
    width: 344px;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
  }
  .services__title{
    font-size: 32px;
    margin-bottom: 24px;
  }
  .services__desc{
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width:664px) {
  .services__desc{
    width: 450px;
  }
}
@media screen and (max-width:620px) {
  .services__item-title{
    font-size: 20px;
  }
  .services__item-desc{
    width: 280px;
    font-size: 13px;
    line-height: 17px;
  }
}
@media screen and (max-width:576px) {
  .services__main-box{
    height: 1505px;
  }
  .services{
    padding-bottom: 0;
  }
  .services__contents{
    padding-top: 0;
  }
  .services__title{
    font-size: 28px;
    line-height: 28px;
    padding-top: 64px;
  }
  .services__desc{
    width: 279px;
    margin-bottom: 64;
  }
  .services__contents{
    height: 930px;
    background: linear-gradient(to top, #282f38 70%,#2c343e 30%);
  }
  .services__item{
    flex-direction: column;
    height: 382px;
    justify-content:space-between;
    padding: 0;
    padding-top: 72px;
    padding-bottom: 51px;
  }
  .services__item-title{
    text-align: center;
    font-size: 24px;
  }
  .services__item-desc{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    width: 212px;
  }
}

.works {
  padding: 200px 0;
}
.works__title {
  font-family: 'Fraunces', serif;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 80px;
}
.works__line-box {
  position: relative;
  width: 791px;
  margin-bottom: 67px;
}
.works__line {
  position:absolute;
  top: 50%;
  transform: translate(0,-50%);
  width: 100%;
  height: 2.5px;
  display: inline-block;
  background: #fdd6ba;
  z-index: -1;
}
.works__round {
  width: 31px;
  height: 31px;
  background: #fefcf7;
  border-radius: 50%;
  border: 2px solid #0e8784;
}
.works__list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1145px;
  margin-bottom: 64px;
}
.works__item-count {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.works__item{
  width: 33.3%;
}
.works__item-title {
  width: 255px;
  font-family: 'Fraunces', serif;
  margin: 0;
  padding: 0;
  margin-top: 38px;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-bottom: 42px;
}
.works__item-text {
  margin: 0;
  padding: 0;
  width: 285px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
.works__btn {
  text-decoration: none;
  display: block;
  font-style: normal;
  border: 2px solid transparent;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  background: #0e8784;
  border-radius: 6px;
  width: 210px;
  padding: 15px 0;
  transition: background 0.4s ease, opacity 0.4s ease;
}
.works__btn:hover{
  background: #66d2cf;
}
.works__btn:active{
  opacity: 0.7;
}
@media screen and (max-width:1240px) {
  .works__list{
    width: 100%;
  }
  .works__item-text{
    width: 174px;
    text-align: center;
  }
  .works__item-title{
    width: 174px;
    font-size: 28px;
  }
}
@media screen and (max-width:900px){
  .works__line-box{
    width: 750px;
  }
}
@media screen and (max-width:860px) {
  .works__line-box{
    width: 600px;
  }
}
@media screen and (max-width:768px){
  .works__line-box{
    width: 497px;
  }
  .works__list{
    width: 109%;
  }
  .works__item-title{
    width: 208px;
    font-size: 28px;
  }
  .works__item-text{
    width: 208px;
    font-size: 15px;
    text-align:unset;
    line-height: 25px;
  }
}
@media screen and (max-width:700px){
  .works__item-title{
    width: 185px;
    font-size: 23px;
  }
  .works__item-text{
    width: 185px;
    font-size: 13px;
    line-height: 23px;
  }
}
@media screen and (max-width:680px){
  .works__item-text{
    width: 150px;
    font-size: 10px;
  }
}
@media screen and (max-width:612px){
  .works__line-box{
    display: none;
  }
  .works{
    padding: 120px 0;
  }
  .works__title{
    text-align: center;
  }
  .works__item{
    width: 100%;
    margin-bottom: 56px;
  }
  .works__item:last-child{
    margin-bottom: 0;
  }
  .works__list{
    width: 100%;
    margin-bottom: 79px;
  }
  .works__item-count{
    width: 90px;
    display: block;
    margin: 0 auto;
  }
  .works__item-title{
    width: 100%;
    text-align: center;
    margin: 24px 0;
    font-size: 28px;
  }
  .works__item-text{
    width: 327px;
    text-align: center;
    margin:0 auto;
    font-size: 15px;
    line-height: 25px;
  }
  .works__btn{
    margin: 0 auto;
  }
}

.footer{
  background: #2c343e;
  padding: 47px 0;
  margin-bottom: 88px;
}
.footer__logo-link {
  text-decoration: none;
  margin-right: 102px;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__item {
  margin-right: 33px;
  position: relative;
}
.footer__item::before{
  content: "";
  bottom: -5px;
  position: absolute;
  display: inline-block;
  background: rgb(145, 132, 16);
  width: 0;
  height: 1.5px;
  left: 50%;
  transform: translate(-50%,0);
  transition: width 0.4s ease;
}
.footer__item:hover::before{
  width: 100%;
}
.footer__item:active .footer__link{
  color: #fefcf7;
}
.footer__item:last-child{
  margin: 0;
}
.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  transition: color 0.4s ease;
}
.footer__icons-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__icons-item {
  margin-right: 24px;
}
.footer__icons-item:hover i{
  color:#d8a17b;
}
.footer__icons-item:active i{
  color:#fdd6ba;
}
.footer__icons-item:last-child{
  margin: 0;
}
.icons-item__link {
  text-decoration: none;
}
.icons-item__link  i{
  font-size: 25px;
  color: #fff;
  transition: color 0.4s ease;
}

@media screen and (max-width:965px){
    .footer__content{
      flex-direction: column;
      align-items: center;
    }
    .footer__logo-link{
      margin: 0;
      margin-bottom: 32px;
    }
    .footer__content-main{
      flex-direction: column;
      margin: 0 auto;
    }
    .footer__icons-list{
      margin-top: 65px;
    }
}
@media screen and (max-width:576px){
  .footer__logo-link{
    margin-bottom: 48px;
  }
  .footer__list {
    flex-direction: column;
  }
  .footer__item{
    margin-right: 0;
    margin-bottom: 24px;
  }
  .footer__item:last-child{
    margin-bottom: 0;
  }
  .footer__icons-list{
    margin-top: 48px;
  }
}